/* estilos gerais da aplicação */

* {
  box-sizing: border-box;
}

body {
  width: 375px;
  height: 667px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  background: #8C11BE;
}

.form_content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 0px 25px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.form_title{
  width:100%;
  text-align: center;
  padding-bottom: 18px;

  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  color: #FFFFFF;
}

input{
  display: flex;
  align-items: center;
  width: 326px;
  height: 58px;
  padding: 6px 0px 6px 0px;
  background: #000000;
  border-radius: 5px;
  padding-left: 15px; 
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

input::placeholder { 
  color: red;
}

.button{
  width: 326px;
  height: 88px;
  background: #A328D6;
  border-radius: 5px;
  padding: 6px 0px 36px 0px;

  display: flex;
  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.wallet_title{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 0px 25px;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
}

.wallet_title>ion-icon {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.deposit_withdraw_title{
  display:flex;
  align-items: center;
  justify-content: left;
  padding: 25px 25px 0px 25px;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
}

.deposit_withdraw_content{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 0px 25px;
}

.wallet{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 23px 12px 12px 12px;
  background: #FFFFFF;
  border-radius: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.wallet_register{
  width:302px; /* 100% */
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet_register_date{
  width:48px; 
  text-align: left;
  color:#C6C6C6
}

.wallet_register_title{
  width:180px; 
  text-align: left;
}

.wallet_register_value{
  width:74px; 
  text-align: right;
}

.wallet_balance{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.add_change{
  width: 156px;
  height: 114px;
  padding: 10px;
  justify-content: left;

  background: #A328D6;
  border-radius: 5px;
}

.add_change_title{
  width: 64px;
  height: 40px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  color: #FFFFFF;
}

.add_change_title>ion-icon {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}