/* estilos gerais da aplicação */

* {
  box-sizing: border-box;
}

body {
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  background: #8C11BE;
  text-align: center;
}

a{
  text-decoration: none;
  color:#FFFFFF;
}

.form_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 0px 25px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.form_title{
  width:100%;
  text-align: center;
  padding-bottom: 18px;

  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  color: #FFFFFF;
}

input{
  display: flex;
  align-items: center;
  width: 326px;
  height: 58px;
  padding: 6px 0px 6px 0px;
  margin: 6px 0px 6px 0px;
  background: #FFFFFF;
  border-radius: 5px;
  padding-left: 15px; 
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

input::placeholder { 
  color: #000000;
}

.button{
  width: 326px;
  height: 46px;
  background: #A328D6;
  border-radius: 5px;
  padding: 6px 0px 6px 0px;
  margin: 6px 0px 30px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.wallet_title{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px 0px 25px;
  width:100%;
  height: 80px;
  margin-top: 0px;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
}

.wallet_title>ion-icon {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.deposit_withdraw_title{
  display:flex;
  align-items: center;
  justify-content: left;
  padding: 0px 25px 0px 25px;
  width:100%;
  height: 80px;
  /* position: absolute; */
  /* top: 0px; */

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
}

.root2{
  position: absolute;
  top:0px;
  left:0px;
}

.deposit_withdraw_content{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 0px 25px;
}

.wallet{
  position: relative;
  display:block;
  justify-content: center;
  padding: 23px 12px 12px 12px;
  background: #FFFFFF;
  border-radius: 5px;
  width:326px;
  height: 446px;
  /* overflow-x: scroll; */

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #868686;
}

.wallet_empty{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 23px 12px 12px 12px;
  background: #FFFFFF;
  border-radius: 5px;
  width:326px;
  height: 446px;
  /* overflow-x: scroll; */

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #868686;
}

.wallet_register{
  width:302px; /* 100% */
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.wallet_register_date{
  width:48px; 
  text-align: left;
  color:#C6C6C6
}

.wallet_register_title{
  width:180px; 
  text-align: left;
}

.wallet_register_value_deposit{
  width:74px; 
  text-align: right;
  color:#03AC00
}

.wallet_register_value_withdraw{
  width:74px; 
  text-align: right;
  color:#C70000
}

.wallet_balance{
  position:absolute;
  bottom: 12px;
  width:302px;
  display:flex;
  /* align-items: center; */
  vertical-align: bottom;
  justify-content: space-between;
  /* padding-top: 500px; */

  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  
}

.wallet_balance_text{
  font-weight: 700;
  color: #000000;
}

.wallet_balance_pos_value{
  font-weight: 400;
  color: #03AC00;
}

.wallet_balance_neg_value{
  font-weight: 400;
  color: #C70000;
}

.add_change_panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 326px;
  margin-top: 13px;
}

.add_change{
  width: 156px;
  height: 114px;
  padding: 10px;
  justify-content: left;

  background: #A328D6;
  border-radius: 5px;
}

.add_change_title{
  width: 64px;
  height: 40px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  color: #FFFFFF;
}

.add_change_title>ion-icon {
  margin-bottom: 30px ;
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}